body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator {
    display: flex;
    flex-direction: column;
    height: 850px;
    width: 500px;
    justify-content: space-evenly;
    background-color: rgb(52, 52, 52);
    border-radius: 40px;
    padding: 0px 20px 0px 20px;
    align-self: center;
}

.display {
    background-color: rgb(130, 130, 130);
    height: 150px;
    width: 450px;
    display: flex;
    align-self: center;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 20px;
}

.num-display {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 75px;
    margin: 0 10px;
}

.btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 10px;
}

button {
    height: 110px;
    width: 110px;
    border-radius: 55px;
    font-size: 50px;
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    font-stretch: semi-condensed;
}

.light {
    background-color: rgb(174, 174, 174);
}

.orange {
    background-color: orange;
}

.num, .sign, .decimal {
    background-color: rgb(110, 108, 108);
}